#DB config
POSTGRES_USER=###
POSTGRES_PASSWORD=###
POSTGRES_DB=###
DB_HOST=###
DB_PORT=###

#Backend config
BACKEND_PORT=###
DATABASE_URL="postgresql://${###}:${###}@${###}:${###}/${###}}"

#Frontend config
FRONTEND_PORT=###
VITE_API_URL=###

